Dobrý den,
 
v souvislosti s plánovanou migrací Vás upozorňujeme, že Váš projekt "{{ project_name }}" expiroval dne {{ project_expiration }}.
 
V souladu s cloudovou politikou ([1]) projekt a jeho data zůstanou zachovány, ale všechny virtuální stroje v projektu budou vypnuty a projekt bude zakázán.
K úplnému odstranění dat dojde po 3 letech od expirace.
 
Pokud chcete projekt nadále používat, odpovězte prosím na tuto zprávu, a to nejpozději do {{ migration_prep_deadline }}.
- V odpovědi potvrďte termín migrace, příp. navrhněte jiný termín.
- Dále v odpovědi uveďte, zda chcete migrovat i neaktivní stroje či nepřipojené disky, příp. zda máte nějaké jiné požadavky na průběh migrace.
- Pokud se v souvislosti s projektem "{{ project_name }}" máme obracet na jinou osobu, napište nám její kontaktní údaje (e-mail).
- Pokud projekt nechcete migrovat, dejte nám prosím vědět, jak s ním máme dále naložit (smazat, vypnout a zachovat data, ponechat v běhu do konkrétního data apod.).
 
 
S pozdravem
 
 
{{ signature }}
 
e-INFRA CZ / MetaCentrum OpenStack cloud tým
cloud@metacentrum.cz
 
[1] https://wiki.metacentrum.cz/wiki/Cloudov%C3%A1_politika
