Dobrý den,
 
v souvislosti s plánovanou migrací Vás upozorňujeme, že Váš projekt "{{ project_name }}" expiroval dne {{ project_expiration }}.
 
Z tohoto důvodu jsme migraci projektu neprovedli.
 
V souladu s cloudovou politikou ([1]) původní projekt a jeho data stále existují, ale všechny virtuální stroje v projektu byly vypnuty a projekt byl zakázán. K úplnému odstranění dat dojde po 3 letech od expirace.
 
 
Pokud chcete projekt nadále používat, prosíme kontaktujte nás s návrhem nového data migrace.
 
 
S pozdravem
 
 
{{ signature }}
 
e-INFRA CZ / MetaCentrum OpenStack cloud tým
cloud@metacentrum.cz
 
 
[1] https://wiki.metacentrum.cz/wiki/Cloudov%C3%A1_politika
