Dobrý den,
 
v souvislosti s plánovanou migrací Vás upozorňujeme, že Váš projekt "{{ project_name }}" je prázdný a byl zakázán.
 
Pokud chcete projekt nadále používat, prosíme kontaktujte nás.
 
 
S pozdravem
 
 
{{ signature }}
 
e-INFRA CZ / MetaCentrum OpenStack cloud tým
cloud@metacentrum.cz
 
 
[1] https://wiki.metacentrum.cz/wiki/Cloudov%C3%A1_politika
