Dobrý den,
 
v průběhu následujících měsíců roku 2024 bude zahájena migrace vybraných projektů běžících v e-INFRA CZ / MetaCentrum OpenStack cloudu [Brno GEN1][1] do nového prostředí [Brno GEN2][2].
 
Tato migrace se dotkne projektu, jehož jste vlastníkem: "{{ project_name }}".
 
Předpokládaný dopad: nedostupnost 10-120 minut v závislosti na množství migrovaných virtuálních strojů. Virtuální stroje budou po dobu migrace v G1 vypnuty a posléze dojde k jejich zapnutí v G2.
Zmigrovaným virtuálním strojům budou přiděleny nové veřejné IP adresy, odlišné od původních.
 
Plánovaný termín migrace projektu: {{ migration_date }}
 
Před provedením migrace Vás individuálně oslovíme, abychom dohodli technické detaily.
 
Prosíme pošlete nám co nejdříve odpověď na tuto zprávu s potvrzením termínu migrace, příp. s návrhem termínu jiného.
Pokud se v souvislosti s projektem "{{ project_name }}" máme obracet na jinou osobu, uveďte v odpovědi její kontaktní údaje (e-mail).
 
[Podrobnosti o migraci][3].
 
 
Předem děkujeme za Vaši součinnost.
 
 
 
 
e-INFRA CZ / MetaCentrum OpenStack cloud tým
cloud@metacentrum.cz
 
[1]: <https://cloud.metacentrum.cz/>
[2]: <https://brno.openstack.cloud.e-infra.cz/>
[3]: <https://docs.e-infra.cz/compute/openstack/migration-to-g2-openstack-cloud/>
