Dobrý den,
 
v návaznosti na předchozí upozornění Vám připomínáme blížící se migraci Vašeho projektu "{{ project_name }}".
 
Migrace je plánována na {{ migration_date }}.
 
Upozorňujeme, že nový zmigrovaný projekt běžící v Brno GEN2 cloudu [1] bude mít odlišné veřejné IP adresy.
Pokud máte pro stroje ve starém projektu vytvořené DNS záznamy, bude potřeba je po dokončení migrace upravit.
Viz též [2].
 
 
Prosíme pošlete nám co nejdříve odpověď na tuto zprávu s potvrzením termínu migrace, příp. s návrhem termínu jiného.
 
 
S pozdravem
 
 
{{ signature }}
 
e-INFRA CZ / MetaCentrum OpenStack cloud tým
cloud@metacentrum.cz
 
[1] https://brno.openstack.cloud.e-infra.cz/
[2] https://docs.e-infra.cz/compute/openstack/migration-to-g2-openstack-cloud/#may-i-get-the-same-ip-address-for-migrated-infrastructure
